.content{position: absolute;width:100%;  margin: -40% 0%;}
.content h2{font-size: 35px;color:#fff;text-align: center;}

.content p{font-size: 25px;color:#fff;text-align: center;}
.contentbutton{margin:0 auto;width:25%;height:40px;background:#2dbe60;border-radius: 10px;text-align: center;color:#fff;font-size:18px;line-height: 40px;}
.threeh{text-align: left;}
.threep{font-size: 19px;margin-top: 10%;text-align: left;}
.blue6{padding:0px 30%;margin:0 auto;}
.pull1{padding-top: 100px;}