<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-3.3.7-dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/note.css}">
     <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/index.js}"></script>
    <style type="text/css">
        .navbar{ transition: background-color 0.5s linear; }
        @media screen and (max-width:768px){
            .rightmenu{margin-left:0px !important;width:100%;}
            .rightmenu ul li{width:100%;}
            .leftmenu{left:-200px;}


        }



    </style>


</head>
<body>
<nav class="navbar navbar-fixed-top" role="navigation" style="background: #fff;min-height:94px;">
    <div class="container-fluid">
        <div class="row">
            <div class="navbar-header col-lg-2 col-lg-offset-1 col-md-2 col-sm-2 col-xs-7">
                <img th:src="@{/img/logo.png}" style="width:35%;max-width: 100px;" class="img-responsive">

            </div>

            <div class="navdiv col-lg-9 col-md-10 col-sm-10" style="z-index: 100;padding-top:1%;">
                <ul class="nav navbar-nav collapse navbar-collapse pull-right " id="navbar-collapse" >

                    <li><a href="/login" style="color:#898989">登录</a></li>
                    <li><a href="#" style="color:#898989">论坛</a></li>
                    <li><a href="#" style="color:#898989">团队服务</a></li>
                    <li><a href="#" style="color:#898989" class="glyphicon glyphicon-list"></a></li>



                </ul>

            </div>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse" style="position: absolute;left: 90%;top: 18%;z-index: 999;">
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
            </button>

        </div>
    </div>
</nav>
<section style="overflow: hidden;margin-top:95px;">
    <div class="container-fluid" style="padding:0px;">
        <div class="leftmenu" style="">
            <div class="left">
                <ul class="leftul">
                    <li class="btn-info">
                        <a href="" class="glyphicon glyphicon-tag"></a>记录笔记
                    </li>
                    <li>
                        <a href="/addnote" class="glyphicon glyphicon-plus"><span class="spanspan">&nbsp新建笔记</span></a>
                    </li>
                    <li class="active1">
                        <a href="/" class="glyphicon glyphicon-star-empty active2"><span class="spanspan">&nbsp历史笔记</span></a>
                    </li>
                   
                </ul>

            </div>
            <div class="shousuo btn-success"></div>

        </div>


        <div class="rightmenu" style="margin-left:27%;">


            <form style="padding:5% 5%;" th:action="@{'/note'+${note?.id}+'/update'}">

                <div class="form-group" style="" >
                    <label >标题</label>
                    <input type="text" class="form-control input-lg" name="title"  placeholder="标题" th:value="${note?.title}">
                </div>
                <textarea class="form-control" name="content" rows="25" th:text="${note?.content}" ></textarea>

                <div class="checkbox">

                </div>
                <button type="button" class="btn btn-success pull-right" th:name="${note?.id}" onclick="upn(this)">确认修改</button>
            </form>
        </div>

    </div>
</section>

</body>
<script type="text/javascript" th:src="@{/jquery-3.2.1/jquery-3.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap-3.3.7-dist/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bg.js}"></script>
<script th:src="@{/js/jquery.gradientify.min.js}"></script>
<script type="text/javascript">
    $('.shousuo').on('click',function() {

        if ($('.leftmenu').css('left') === '0px') {
            $('.leftmenu').css("left","-200px")
        }else{
            $('.leftmenu').css("left","0px")
        }

    });


</script>
</html>